@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Sora:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adlam-font {
    font-family: "ADLaM Display", serif;
    font-weight: 500;
    font-style: normal;
}
body{
    font-family: "Sora", serif;
}
  


